@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    margin: 0px;
    font-family: 'Alice', serif;
}

.linksHover{
    transition: .3s;
}

.linksHover:hover{
    color: white !important;
    background: #0C184D !important;
}

header{
    background: #0C184D;
    height: 190px;
    position: relative;
}

.header_image{
    right: 0%;
    width: 1800px;
    top: 0;
    position: absolute;
}

/* navbar */


/* main */

.actor_inner{
    width: 85%;
    margin: 50px auto;
}

.actor_inner a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E7E7E7;
    width: 200px;
    padding: 7px 8px;
    color: black;
    text-decoration: none;
    padding-bottom: 9px;
    cursor: pointer;
}

.actor_inner a i{
    margin-top: 5px;
    font-size: 20px;
}

.child{
    margin: 0 auto;
    width: 85%;
    margin-bottom: 100px;
}

.child_title{
    font-size: 70px;
    font-weight: 500;
    width: 50%;
}

.child_body{
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
    padding-bottom: 70px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    border-bottom: 5px solid rgba(196, 196, 196, 0.61);
}

.child_body_inner{
    width: 47%;
    height: 550px;
}

.child_body_inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.child_body_inner p{
    margin: 0px;
    font-size: 23px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.child_body_inner a{
    background: rgba(196, 196, 196, 0.61);
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-weight: 500;
    font-size: 20px;
    transition: .3s;
    padding: 10px 20px;
}

.child_body_inner a:hover{
    color: white;
    background:#0C184D;
}

.child_wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.child_wrapper_title{
    width: 100%;
    font-size: 31px;
    margin-bottom: 50px;
}

.child_wrapper_inner{
    width: 24%;
    margin-bottom: 30px;
    margin-right: 1%;
}

.child_wrapper_inner:hover .child_wrapper_inner_picture{
    transform: scale(1.1);
}

.child_wrapper_inner_picture{
    transition: .3s;
    position: relative;
    height: 300px;
    width: 100%;
}

.child_wrapper_inner_picture::before{
    content: "";
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
}

.child_wrapper_inner_picture img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
}

.child_wrapper_inner_picture h3{
    position: absolute;
    color: white;
    margin: 0px;
    z-index: 2;
    left: 30px;
    font-size: 27px;
    width: 70%;
    font-weight: 500;
    bottom: 20px;
}

.child_wrapper_inner_inside h2{
    font-size: 25px;
    font-weight: 500;
}

.child_contact{
    width: 100%;
}

.child_contact_title{
    margin-left: 30px;
    font-size: 30px;
    color: rgba(12, 24, 77, 0.9);
}

.child_contact_body form div,
.child_contact_body{
    width: 100%;
}

.child_contact_body form div{
    margin-bottom: 30px;
}

.child_contact_body form div input{
    width: 100%;
    background: rgba(196, 196, 196, 0.61);
    padding: 20px;
    box-sizing: border-box;
    border: none;
    color: rgb(146, 146, 146);
    font-size: 20px;
    outline: none;
}

.child_contact_body form div textarea::placeholder,
.child_contact_body form div input::placeholder{
    font-size: 20px;
}

.child_contact_body form div textarea{
    width: 99%;
    background: rgba(196, 196, 196, 0.61);
    padding: 20px;
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    outline: none;
    border: none;
    font-size: 20px;
    height: 250px;
}

.child_contact_body form button{
    background: rgba(196, 196, 196, 0.61);
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    padding: 10px 25px;
    font-family: 'Alice', serif;
    transition: .3s;
}

.child_contact_body form button:hover{
    color: white;
    background: #0C184D;
}


/* footer */

/* Адаптивка header / footer */

@media screen and (max-width: 1550px){

    .header_image{
        width: 1700px;
    }
}

@media screen and (max-width: 1475px){

    .header_image{
        width: 1650px;
    }
}


@media screen and (max-width: 1250px){

    .header_image{
        width: 1550px;
    }

    header{
        height: 170px;
    }

}

@media screen and (max-width: 1200px){

    .header_image{
        width: 1400px;  
    }
}

@media screen and (max-width: 1100px){

    .header_image{
        width: 1300px;  
    }

    header{
        height: 130px;
    }
}

@media screen and (max-width: 1000px){

    .header_image{
        width: 1200px;  
    }
}

@media screen and (max-width: 920px){

    .header_image{
        width: 1050px;  
    }
}

@media screen and (max-width: 830px){

    .header_image{
        width: 950px;  
    }

    header{
        height: 110px !important;
    }
    
}


@media screen and (max-width: 750px){

    .header_image{
        width: 850px;  
    }
}

@media screen and (max-width: 670px){

    header{
        height: 95px !important;
    }

    .header_image{
        width: 800px;  
    }
}

@media screen and (max-width: 600px){

    header{
        height: 100px !important;
    }

    .header_image{
        width: 750px;  
    }
}

@media screen and (max-width: 580px){

    header{
        height: 180px !important;
    }

    .header_image{
        width: 700px;  
    }

}

@media screen and (max-width: 550px){

    .swiper-slide{
        transform: translateX(0px) !important;
    }
}

/* Адаптивка main */

@media screen and (max-width: 1400px){

    .child_body_inner p{
        font-size: 21px;
    }

    .child{
        width: 90%;
    }

    .actor_inner{
        width: 90%;
        margin: 50px auto;
    }

    .child_title{
        font-size: 65px;
        width: 70%;
    }
}

@media screen and (max-width: 1200px){
    
    .child_contact_body form div textarea::placeholder,
    .child_contact_body form div input::placeholder{
        font-size: 18px;
    }

    .child_wrapper_inner{
        width: 32%;
        margin-bottom: 30px;
        margin-right: 1%;
    }

    .child_title{
        font-size: 60px;
        width: 80%;
    }

    .actor_inner a{
        width: 180px;
        font-size: 15px;
    }
    
    .actor_inner a i{
        margin-top: 5px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1150px){

    .child_body_inner_alt1{
        width: 100%;
        height: 450px;
    }

    .child_body_inner_alt2{
        width: 100%;
        height: inherit;
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px){

    .child_wrapper_inner{
        width: 49%;
    }

    .child_title{
        width: 100%;
    }
}

@media screen and (max-width: 800px){

    .actor_inner a{
        width: 160px;
        font-size: 14px;
    }
    
    .actor_inner a i{
        font-size: 17px;
    }
}

@media screen and (max-width: 735px){

    .child_title{
        font-size: 55px;
    }
}

@media screen and (max-width: 600px){

    .child_body_inner p{
        font-size: 20px;
    }

    .child_wrapper_inner{
        width: 100%;
        margin-right: 0px;
    }

    .child_wrapper_inner_picture h3{
        font-size: 35px;
    }

    .child_contact_body form div textarea::placeholder,
    .child_contact_body form div input::placeholder{
        font-size: 17px;
    }
}

@media screen and (max-width: 500px){

    .child_title{
        font-size: 50px;
    }
}
