@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body{
    margin: 0px;
    font-family: 'Alice', serif;
}
main{
    margin-top:50px;
}
.activeNavbar::before{
    content: "";
    position: absolute;
    left: 0;
    background: white;
    height: 1px;
    width: 100% !important;
    bottom: -6px;
    transition: .3s;
}

.linksHover{
    transition: .3s;
}

.linksHover:hover{
    color: white !important;
    background: #0C184D !important;
}

header{
    background: #0C184D;
    height: 190px;
    position: relative;
}

.header_image{
    right: 0%;
    width: 1800px;
    top: 0;
    position: absolute;
}

/* navbar */

/* main */

.actor_inner{
    width: 85%;
    margin: 50px auto;
}

.actor_inner a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E7E7E7;
    width: 200px;
    padding: 7px 8px;
    text-decoration: none;
    color: black;
    padding-bottom: 9px;
    cursor: pointer;
}

.actor_inner a i{
    margin-top: 5px;
    font-size: 20px;
}

.partner{
    width: 85%;
    margin: 0 auto;
}

.partner_title{
    font-size: 70px;
    margin: 0px;
}

.partner_icons{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid grey;
}

.partner_wrapper{
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.partner_icons_child{
    width: 16%;
}

.partner_icons_child_header{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 210px;
}

.partner_icons_child_header img{
    width: 50%;
    height: 50%;
}

.partner_icons_child_header_alt img{
    width: 100%;
    object-fit: none;
}

.partner_icons_child_body{
    width: 100%;
}

.partner_icons_child_body p{
    text-align: center;
}

.partner_icons_child_alt{
    width: 18%;
}

.partner_text{
    margin: 0 auto;
    width: 90%;
    margin-top: 70px;
}

.partner_text h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.partner_text p{
    margin: 0px;
    font-size: 20px;
    line-height: 1.6;
}

.partner_text_para{
    width: 70%;
}


/* footer */


footer{
    margin-top: 90px;
}

/* Адаптивка header / footer */

@media screen and (max-width: 1550px){

    .header_image{
        width: 1700px;
    }
}

@media screen and (max-width: 1475px){

    .header_image{
        width: 1650px;
    }
}

@media screen and (max-width: 1400px){

    .title_container{
        width: 90%;
    }
}

@media screen and (max-width: 1250px){

    .header_image{
        width: 1550px;
    }

    header{
        height: 170px;
    }
}

@media screen and (max-width: 1200px){

    .header_image{
        width: 1400px;  
    }
}


@media screen and (max-width: 1100px){

    .header_image{
        width: 1300px;  
    }

    header{
        height: 130px;
    }
}

@media screen and (max-width: 1000px){

    .header_image{
        width: 1200px;  
    }
}

@media screen and (max-width: 920px){

    .header_image{
        width: 1050px;  
    }
}

@media screen and (max-width: 830px){

    .header_image{
        width: 950px;  
    }

    header{
        height: 110px !important;
    }
    
}

@media screen and (max-width: 750px){

    .header_image{
        width: 850px;  
    }

}


@media screen and (max-width: 670px){

    header{
        height: 95px !important;
    }

    .header_image{
        width: 800px;  
    }

}

@media screen and (max-width: 600px){

    header{
        height: 100px !important;
    }

    .header_image{
        width: 750px;  
    }

}

@media screen and (max-width: 580px){

    header{
        height: 180px !important;
    }

    .header_image{
        width: 700px;  
    }
}

@media screen and (max-width: 550px){

    .swiper-slide{
        transform: translateX(0px) !important;
    }

}

/* Адаптивка main */

@media screen and (max-width: 1400px){

    .partner_icons_child_header{
        height: 170px;
    }

    .partner_wrapper{
        width: 100%;
    }

    .actor_inner{
        width: 90%;
        margin: 50px auto;
    }

    .partner_title{
        font-size: 55px;
    }

    .partner{
        width: 90%;
    }
}

@media screen and (max-width: 1200px){

    .partner_wrapper{
        justify-content: space-around;
    }

    .partner_icons_child{
        width: 25%;
    }

    .partner_icons_child_header{
        height: 150px;
    }

    .actor_inner a{
        width: 180px;
        font-size: 15px;
    }
    
    .actor_inner a i{
        margin-top: 5px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1050px){

    .partner_icons_child{
        width: 30%;
    }
}

@media screen and (max-width: 800px){

    .partner_title{
        font-size: 45px;
    }

    .partner_icons_child_header_alt{
        width: 100%;
    }

    .partner_icons_child_header_alt img{
        width: 60%;
        object-fit: inherit;
        height: 40px;
    }

    .partner_icons_child{
        width: 40%;
    }

    .partner_icons_child_header{
        height: 130px;
    }

    .actor_inner a{
        width: 160px;
        font-size: 14px;
    }
    
    .actor_inner a i{
        font-size: 17px;
    }

    .partner_text_para{
        width: 100%;
    }

    .partner_text h3{
        font-size: 25px;
    }
    
    .partner_text p{
        font-size: 17px;
    }
}

@media screen and (max-width: 500px){

    .partner_icons_child_header_alt{
        width: 100%;
        height: 100px !important;
    }

    .partner_icons_child{
        width: 70%;
    }

    .partner_icons_child_header{
        height: 160px;
    }
}

@media screen and (max-width: 400px){

    .partner_icons_child{
        width: 80%;
    }
}