{% load static %}
<footer>
  <div class="footer_left">
      <ul>
          <li>
              <a href="{% url 'index' %}">
                  <img class="footer_logo" src="{% static 'img/logo full horiz apsny theatre _-34 1 (1) — копия.png' %}" alt="">
              </a>
          </li>
      </ul>

      <ul class="footer_inner footer_inner2">
          <li>
              <img src="{% static 'img/18764668-04.png' %}" alt="image">
              <a href="#">
                  Р.Абхазия
                  <br> 
                  г. Сухум
                  <br>
                  ул. Пушкина 1
              </a>
          </li>
          <li>
              <img src="{% static 'img/18764668-05.png' %}" alt="image">
              <a href="#">
                  +7(940) 7-214-214
                  <br>
                  пн-пт
                  <br>
                  11:00 - 19:00
              </a>
          </li>
      </ul>

      <ul class=" footer_inner footer_inner3">
          <li>
              <img src="{% static 'img/18764668-03.png' %}" alt="image">
              <a href="#">
                  abkhaztheatre@gmail.com
              </a>
          </li>
          <li>
              <img src="{% static 'img/18764668-01.png' %}" alt="image">
              <a href="https://www.facebook.com/apsuatheatre" target="_blank">
                  @apsuatheatre
              </a>
          </li>
          <li>
              <img src="{% static 'img/18764668-02.png' %}" alt="image">
              <a href="https://www.instagram.com/apsuatheatre/" target="_blank">
                  @apsuatheatre
              </a>
          </li>
          <li>
              <i class="fab fa-youtube"></i>
              <a href="https://www.youtube.com/channel/UCYGSD6IAeyz_ufziXlfSKrA" target="_blank">
                  АБХАЗСКИЙ ГОСУДАРСТВЕННЫЙ ДРАМАТИЧЕСКИЙ ТЕАТР
              </a>
          </li>

          <div>
              <span class="footer_link_images">
                  <a href="#"><img src="{% static 'img/Vector (2).png' %}" alt="image"></a>
                  <a href="#"><img src="{% static 'img/Vector (1).png' %}" alt="image"></a>
              </span>
              <span>
                  <a href="#"><img src="{% static 'img/Vector.png' %}" alt="image"></a>
              </span>
              <span>
                  <a href="#"><img src="{% static 'img/Vector (3).png' %}" alt="image"></a>
              </span>
          </div>
      </ul>

      <ul class="footer_inner4">
          <li>
              <a href="#">
                  <img src="{% static 'img/Векторный смарт-объект1-01 2.png' %}" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="{% static 'img/амобаил_лого (3)-01 1.png' %}" alt="">
              </a>
          </li>
          <li>
              <a href="#">
                  <img src="{% static 'img/ллл-02 1.png' %}" alt="">
              </a>
          </li>
      </ul>
  </div>

  <div class="footer_right">
      <ul>
          <li>
              <a href="#">
                  о нас
              </a>
          </li>
          <li>
              <a href="#">
                  репертуар
              </a>
          </li>
          <li>
              <a href="people.html">
                  люди театра
              </a>
          </li>
          <li>
              <a href="#">
                  визит в театр
              </a>
          </li>
      </ul>

      <ul>
          <li>
              <a href="museum.html">
                  музей
              </a>
          </li>
          <li>
              <a href="radio.html">
                  радиотеатр
              </a>
          </li>
          <li>
              <a href="#">
                  образование
              </a>
          </li>
          <li>
              <a href="partner.html">
                  партнеры
              </a>
          </li>
      </ul>
  </div>
</footer>