{% extends "base.html" %} {% load static %} {% block title %}История{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/title.css' %}" />
{% endblock styles %}
{% block content %}
<header>
  <img class="header_image" src="{% static 'img/Безымянный-5-02 1.png' %}" alt="image" />
  {% include 'include/nav.html' %}
</header>


<main>

        <div class="title_container">
            <h2>{{item.name}}</h2>
            <div class="title_container_body">
                  {% if item.image %} <img src="{{item.image.url}}"> {% endif %}
                   <p>{{item.text|linebreaks}}</p>
            </div>
        </div>




    </main>
<div class="actor_inner">
    <a href="../" class="linksHover"><i class="fas fa-angle-left"></i> вернуться к списку</a>
  </div>

{% endblock content %}
{% block scripts %}
<script src="{% static 'js/title.js' %}"></script>
{% endblock scripts %}